@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    background: #f7f7f7;
    font-family: "Poppins", sans-serif;
}

*::selection {
    background: #2b3dda;
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar {
    width: 0.8rem;
    border-radius: 6px;
}
html::-webkit-scrollbar-track {
    background: rgb(235, 202, 245);
}
html::-webkit-scrollbar-thumb {
    background: #420177;
}


.loader-container.fade-out {
    top: -120%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.7rem 10%;
    height: 6.5rem;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
}
section {
    min-height: 100vh;
    padding: 2rem 9%;
}
.heading {
    font-size: 3.5rem;
    color: rgb(32, 32, 32);
    font-weight: 800;
    text-align: center;
}
.heading span {
    color: rgb(115, 3, 167);
}
header .logo {
    font-size: 1.9rem;
    font-weight: 800;
    text-decoration: none;
    color: #0e2431;
}
header .logo i {
    font-size: 2.2rem;
}
header .logo:hover {
    color: #fc8c05;
}
header .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .navbar li {
    margin-left: 2.5rem;
}
header .navbar ul li a {
    font-size: 1.57rem;
    color: #0e2431;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.04rem;
    transition: 0.2s;
}
header .navbar ul li a.active,
header .navbar ul li a:hover {
    color: #011aff;
    border-bottom: 0.2rem solid #011aff;
    padding: 0.5rem 0;
}

#menu {
    font-size: 3rem;
    cursor: pointer;
    color: rgb(24, 2, 63);
    display: none;
}
@media (max-width: 768px) {
    #menu {
        display: block;
    }
    header .navbar {
        position: fixed;
        top: 6.5rem;
        right: -120%;
        width: 75%;
        height: 100%;
        text-align: left;
        align-items: flex-start;
        background-color: #0e0f31;
    }
    header .navbar ul {
        flex-flow: column;
        padding: 1rem;
    }
    header .navbar ul li {
        text-align: center;
        margin: 1rem 0;
        border-radius: 0.5rem;
        width: 26rem;
    }
    header .navbar ul li a {
        display: block;
        padding: 1rem;
        text-align: left;
        color: #fff;
        font-size: 2rem;
    }
    header .navbar ul li a.active,
    header .navbar ul li a:hover {
        padding: 1rem;
        color: #fff;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #011aff;
    }
    .fa-times {
        transform: rotate(180deg);
    }
    header .navbar.nav-toggle {
        right: 0;
    }
}

.home {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    align-items: center;
}


.home .content {
    flex: 1 1 40rem;
    padding-top: 1rem;
    z-index: 1;
}
.home .image {
    flex: 1 1 40rem;
    z-index: 1;
}
.home .image img {
    width: 70%;
    margin-left: 6rem;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.home .image img:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.home .content h2 {
    font-size: 5rem;
    font-weight: 800;
    color: #002057;
}
.home .content h2 span {
    font-size: 5rem;
    font-weight: 800;
    color: #ff7b00;
}
.home .content p {
    font-size: 2.5rem;
    color: #000;
    font-weight: 600;
    padding: 1rem 0;
}
.home .content p span {
    font-size: 2.5rem;
    color: rgb(148, 8, 8);
    font-weight: 600;
    padding: 1rem 0;
}
.home .btn {
    margin-top: 1rem;
    position: absolute;
    line-height: 0;
    padding: 1.6rem 3rem;
    border-radius: 4em;
    transition: 0.5s;
    color: #fff;
    background: #2506ad;
    box-shadow: 0px 5px 18px rgba(48, 68, 247, 0.6);
    font-family: "Nunito", sans-serif;
}
.home .btn span {
    font-weight: 700;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
}
.home .btn i {
    margin-left: 0.3rem;
    font-size: 1.5rem;
    transition: 0.3s;
}
.home .btn:hover {
    background: #1a047e;
}
.home .btn:hover i {
    transform: translateX(5px);
}

.socials {
    position: relative;
    margin-top: 9rem;
}
.socials .social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.socials .social-icons li {
    display: inline-block;
    margin-bottom: 14px;
}
.social-icons a {
    font-size: 2rem;
    display: inline-block;
    line-height: 44px;
    color: #00d9ff;
    background-color: #09011b;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #0685da;
}
.social-icons a.github:hover {
    background-color: #0e0e0e;
}

.social-icons a.linkedin:hover {
    background-color: #007bb6;
}

.social-icons a.instagram:hover {
    background-color: #ee00da;
}


@media (max-width: 450px) {
    .home .btn {
        margin: 4rem 0;
    }
    .socials {
        margin-top: 12rem;
    }
    .home .image img {
        margin-top: -12rem;
    }
    .home .content p {
        font-size: 2.2rem;
    }
    .home .content p span {
        font-size: 2.2rem;
    }
}

.about {
    background: rgb(255, 255, 255);
}
.about .row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 4rem;
}
.about .row .image {
    text-align: center;
    flex: 1 1 35rem;
}
.about .row .image img {
    margin: 4rem;
    width: 30rem;
    height: auto;
    border-radius: 5%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    mix-blend-mode: luminosity;
    transition: 0.3s;
    cursor: pointer;
}
.about .row .image img:hover {
    mix-blend-mode: normal;
}
.about .row .content {
    flex: 1 1 45rem;
    padding: 3rem;
}
.about .row .content h3 {
    color: rgb(27, 27, 27);
    font-size: 3.5rem;
}
.about .row .content .tag {
    font-size: 2rem;
    color: #020133;
    font-weight: 600;
    margin-top: 1rem;
}
.about .row .content p {
    font-size: 1.6rem;
    margin-top: 1.5rem;
    font-family: "Nunito";
    font-weight: 600;
    text-transform: none;
}
.about .row .content .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    font-family: "Nunito";
    font-weight: 600;
}
.about .row .content .box-container .box p {
    text-transform: none;
}
.about .row .content .box-container .box p span {
    color: #011aff;
}
.resumebtn {
    margin-top: 6rem;
}
.resumebtn .btn {
    padding: 1.7rem 3rem;
    border-radius: 0.5em;
    transition: 0.3s;
    color: #fff;
    background: #2506ad;
    box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
    font-family: "Nunito", sans-serif;
}
.resumebtn .btn span {
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
}
.resumebtn .btn i {
    margin-left: 0.3rem;
    font-size: 1.2rem;
    transition: 0.3s;
}
.resumebtn .btn:hover {
    background: #1a047e;
}
.resumebtn .btn:hover i {
    transform: translateX(5px);
}


.skills {
    min-height: 90vh;
    background: linear-gradient(to bottom, #57059e, #4a00e0);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center; /* horizontaal */
    align-items: center;     /* verticaal */
    margin: 0 auto;
    overflow-y: hidden;

}
.skills h2 {
    color: #fff;
}
.skills .heading span {
    color: #fc8c05;
}
.skills .containerH {
    background: rgba(0, 0, 22, 0.4);
    color: #fff;
    border-radius: 1rem;
    padding: 2rem;
    width: 850px;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;

}

.skills .containerH .bar {
    font-size: 2rem;
    width:120px;
    height: auto;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 22, 0.9);
    transition: 0.2s;

}
.skills .containerH .bar:hover {
    box-shadow: 0 8px 10px rgba(0, 2, 68, 0.8) ;
    background-color: rgba(0, 0, 0, 0.9) ;
}
.skills .containerH .bar .info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}
.skills .containerH .bar .info i {
    font-size: 5rem;
}

.skills_creatief, .skills_communicatief, .skills_behulpzaam, .skills_doorzetter, .skills_respectvol {
    display: inline-block;
    position: relative;
    text-align: left;
    border-radius: 40px;
    padding: 10px 20px;
    width: 1000px;
    background: rgb(255, 255, 255);
    color: black;
    transition: background-color 0.3s;
    font-weight: bolder;
    font-size: 15pt;
    margin-top: 20px;
}



.skills_creatief i, .skills_communicatief i, .skills_behulpzaam i, .skills_doorzetter i, .skills_respectvol i {
    color: black;
    background-color: transparent;
    float: right;
    padding-top: 5px;
}